<nav class="navbar navbar-expand-lg navbar-dark primary-color" style="    background: cadetblue;">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">Navbar</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<div class="container-fluid">
  <div class="row" [hidden]="updatedisable">
    <div class="col-md-6 jumbotron" style="margin-left: 25%;margin-top: 50px">
      <h2 style="text-align: center">User Registration</h2>
      <form class="form-horizontal" [formGroup]="addForm"  (submit)="register()">
        <div class="form-group" style="margin-top: 20px;margin-left: 65px;">
          <div class="col-sm-10" >
            <input type="email" formControlName="name" [(ngModel)]="name"  class="form-control" id="name" placeholder="Enter name" required />
          </div>
        </div>
        <div class="form-group" style="margin-top: 20px;margin-left: 65px;">
          <div class="col-sm-10" >
            <input type="email"  formControlName="lastname" [(ngModel)]="lastname" class="form-control" id="lastname" placeholder="Enter lastname" />
          </div>
        </div>
        <div class="form-group" style="margin-top: 20px;margin-left: 65px;">
          <div class="col-sm-10" >
            <input type="email" formControlName="city" [(ngModel)]="city" class="form-control" id="city" placeholder="Enter city" required="required" />
          </div>
        </div>


        <div class="form-group" style="margin-top: 35px;margin-left: 65px;">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit"  class="btn btn-primary btn-block" >Submit</button>
          </div>
        </div>

      </form>
    </div>
  </div>



<!--<div  [hidden]="!listdisable">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12 jumbotron" >-->
      <!--<h2 style="text-align:center">UserList</h2>-->
      <!--<table class="table table-hover">-->
        <!--<tr>-->
          <!--<th>Name</th>-->
          <!--<th>Lastname</th>-->
          <!--<th>City</th>-->
          <!--<th>Action</th>-->
        <!--</tr>-->
        <!--<tr *ngFor="let user of users">-->
          <!--<td>{{user.name}}</td>-->
          <!--<td>{{user.lastname}}</td>-->
          <!--<td>{{user.city}}</td>-->
          <!--<td><button class="btn btn-primary" (click)="deleteuser(user._id)">Delete</button></td>-->
          <!--<td><button class="btn btn-primary" (click)="updateuser(user._id)">Update</button></td>-->
        <!--</tr>-->

      <!--</table>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

    <router-outlet></router-outlet>
</div>



